.img__container {
  color: #fff;
  text-align: center;
  background-color: gray;
  height: 20rem;
  /* border-radius: 20px; */
}

.horizontal__line {
  /* margin-top: 15rem; */
  object-fit: contain;
  /* flex: 1; */
  align-items: center;
  justify-content: center;
  background: #000;
}

img {
  /* height: 90px; */
  object-fit: contain;
  height: 15rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.footer_text {
  margin: 0 auto;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}
